page-sintonizar {

.list-header{
  font-size: 1.8rem;
  background-color: #f2bb0b;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.content{
  background: url("../assets/imgs/pattern-cinza-claro.jpg");
  background-size: 40px;
}

.badge,
.badge-md {
  background-color: #f2bb0b;
}


}
