page-sintonizar {
  .content {
    background: #ebebef;
  }

  .list-header {
    font-size: 1.2em;
    background-color: #34003c;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
  }

  .label {
    font-size: 1.3em;
  }

  .badge,
  .badge-md {
    background-color: #aa075a;
    font-size: 1.3em;
  }
}
