page-programas {
  .card{
    margin: 10px 10px 30px 10px;
  }

  .cinzaClaro{
    color: #a3a3a2;
  }

  .content{
    background: url("../assets/imgs/pattern-cinza-claro.jpg");
    background-size: 40px;
  }

  .button-clear{
    color: #f2bb0b;
  }


}
