// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


p, ion-app{
  font-style: normal;
  font-weight: 400;
  font-family: Metropolis !important;
}

.toolbar-background{
    background: #34003c;
}

.toolbar-title {
  font-weight: bold;
  font-size: 1.7em;
}

.toolbar-title{
  color: #fff;
  text-align: center;
  padding-right: 70px;
}

.bar-button-default:hover:not(.disable-hover),
.bar-button-clear-default:hover:not(.disable-hover),
.bar-button-default:hover:not(.disable-hover),
.bar-button-default-md:hover:not(.disable-hover),
.bar-button-clear-md-default:hover:not(.disable-hover),
.bar-button-md-default:hover:not(.disable-hover){
  color: #ffffff;
}

.bar-button-default,
.bar-button-clear-default,
.bar-button-default,
.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default{
  color: #ffffff;
}

.scroll-content .list {
  padding-top: 0.3em;
}

.scroll-content .item {
  font-size: 1.4em;
}



@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before{
        display: block;
        content: " ";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
