page-sobre {
  .card {
    margin: 0;
    width: 100%;
    margin: 0 0 1em 0;
  }

  .card p {
    margin: 0;
    font-size: 1.1em;
    color: #000;
  }

  .content {
    background: #ebebef;
  }

  .button-clear {
    color: #34003c;
  }

  ion-col {
    text-align: center;
  }
}
